{% load static %}
<!doctype html>
{% csrf_token %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django CRM</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body style="background-color: #E6E6FA;">

    {% if user.is_authenticated %}
      {% include 'navbar.html' %}
    {% endif %}

    <div class="container">
        <br/>
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>